<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{driverInfo ? 'Update' :'Create'}} Driver</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()">
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="driverForm" ngNativeValidate  (ngSubmit)="onSubmit()">
          <div class="modal-body">
              <!-- <div class="form-group col mt-2">
                  <label>Driver Id</label>
                  <input type="text" class="form-control" name="driverId" formControlName="driverId">
              </div> -->
              <div class="form-group col mt-2">
                <label>Driver Name</label>
                <input type="text" class="form-control" name="driverName" formControlName="driverName">
             </div>
             <div class="form-group col mt-2">
                <label>Driver Email</label>
                <input type="text" class="form-control" name="driverEmail" formControlName="driverEmail">
             </div>  
             <div class="form-group col mt-2">
                <label>Driver Address</label>
                <input type="text" class="form-control" name="driverAddress" formControlName="driverAddress">
             </div> 
             <div class="form-group col mt-2">
                <label>Driver Phone</label>
                <input type="text" class="form-control" name="driverPhone" formControlName="driverPhone">
             </div>  
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-light btn-md" data-bs-dismiss="modal" (click)="close()">
              Cancel
            </button>
            <button type="submit" class="btn btn-dark btn-md">
              Save
              <!-- <span *ngIf="loader">&nbsp;</span>
              <div *ngIf="loader" class="spinner-border spinner-border-sm text-white" role="status">
                <span class="sr-only">Loading...</span>
              </div> -->
            </button>
        </div> 
      </form>
  </div>

