<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{bookingsInfo ? 'Update' :'Create'}} Booking</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()">
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="bookingsForm" ngNativeValidate  (ngSubmit)="onSubmit()">
          <div class="modal-body">
              <!-- <div class="form-group col mt-2">
                  <label>Booking Id</label>
                  <input type="text" class="form-control" name="bookingId" formControlName="bookingId">
              </div> -->
              <div class="form-group col mt-2">
                <label>Customer Name</label>
                <input type="text" class="form-control" name="customerName" formControlName="customerName">
             </div>
             <div class="form-group col mt-2">
                <label>Customer Email</label>
                <input type="text" class="form-control" name="customerEmail" formControlName="customerEmail">
             </div>
             <div class="form-group col mt-2">
                <label>Customer Phone</label>
                <input type="text" class="form-control" name="customerPhone" formControlName="customerPhone">
             </div>
             <div class="form-group col mt-2">
               <label>Cab Id</label>
               <input type="text" class="form-control" name="cabId" #cabIdForm formControlName="cabId">
            </div>
            <div class="form-group col mt-2">
               <label>Driver Id</label>
               <input type="text" class="form-control" name="driverId" #driverIdForm formControlName="driverId">
            </div>
             <div class="form-group col mt-2">
                <label>Number of Passengers</label>
                <input type="text" class="form-control" name="numPassengers" formControlName="numPassengers">
             </div>  
             <div class="form-group col mt-2">
                <label>Booking From</label>
                <input type="text" class="form-control" name="bookingFrom" formControlName="bookingFrom">
             </div> 
             <div class="form-group col mt-2">
                <label>Booking To</label>
                <input type="text" class="form-control" name="bookingTo" formControlName="bookingTo">
             </div> 
             <!-- <div class="form-group col mt-2">
               <label>Number of Miles</label>
               <input type="text" class="form-control" name="nomiles" formControlName="nomiles">
            </div>  -->
             <div class="form-group col mt-2">
                <label>Total Pay</label>
                <input type="text" class="form-control" name="totalPay" formControlName="totalPay" [(ngModel)] = "totalPay" readonly>
             </div>  
          </div>
          
          <div class="modal-footer">
             
            <button type="button" class="btn btn-dark btn-md" (click)="calculate()" > Calculate </button>
            
            <button type="button" class="btn btn-light btn-md" data-bs-dismiss="modal" (click)="close()">
              Cancel
            </button>
            <button type="submit" class="btn btn-dark btn-md">
              Save
              <!-- <span *ngIf="loader">&nbsp;</span>
              <div *ngIf="loader" class="spinner-border spinner-border-sm text-white" role="status">
                <span class="sr-only">Loading...</span>
              </div> -->
            </button>
        </div> 
      </form>
  </div>


