<div class="container">
    <div class="p-3 mb-2 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h5 class="display-5 fw-bold">Cab Booking Dashboard</h5>
        <div class="d-flex justify-content-end " >
          <button type="button" class="btn btn-sm btn-dark" (click)="openModal(bookingsModal)">Add New</button>
        </div>
        <table class="table table-hover">
         
          <thead>
            <tr>
              <th scope="col">Booking Id</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Driver Id</th>
              <th scope="col">Cab Id</th>
              <th scope="col">Num of Passengers</th>
              <th scope="col">Total Pay</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let booking of this.bookings">
            <tr>
              <td>{{booking.bookingId}}</td>
              <td>{{booking.customerName}}</td>
              <td>{{booking.driverId.driverId}}</td>
              <td>{{booking.cabId.cabId}}</td>
              <td>{{booking.numPassengers}}</td>
              <td>{{booking.totalPay}}</td>
              <td>
                <button type="button" class="btn btn-sm btn-secondary me-1" (click)="openModal(bookingsViewModal, booking)">View</button>
                <button type="button" class="btn btn-sm btn-dark me-1" (click)="openModal(bookingsModal, booking)">Update</button>
                <button type="button" class="btn btn-sm btn-danger me-1" (click)="deleteBooking(booking.bookingId)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<ng-template #bookingsModal let-model>
  <app-createbookings [bookingsInfo]="bookingsInfo" (closeModel)="closeModal(bookingsModal)"></app-createbookings>
</ng-template>

<ng-template #bookingsViewModal let-model>
  <app-viewbooking [bookingsInfo]="bookingsInfo" (closeModel)="closeModal(bookingsViewModal)"></app-viewbooking>
</ng-template>
